* {
  font-family: sans-serif;
}

body {
  background-color: #8cc63f;
}
.container-fluid {
    background-color: #8cc63f;
   
}
  
.modal-header {
  background-color: #8cc63f;
}

.modal-footer {
  background-color: #0F283C;
}

.modal-content {
    background-color: black;
}

footer {
    background-color: black;
  }